*{
  margin: 0;
  padding: 0;
}

img,
picture {
    display: flex;
}

img {
  justify-content: center;
  width: 100%;
}

picture{
  align-items: flex-end;
}

.fondo{
  width: 100%;
  height: 100vh;
  background-image: url('../img/stars.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
@media (min-width:645px) {
  .fondo{
    background-image: url('../img/dawn.png');
  }
}
@media (min-width:1200px) {
  .fondo{
    background-image: url('../img/sunny.jpg');
  }
}
